services:
  app:
    image: tarefas
    ports:
      - '${PORT}:8080'
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:${PORT_POSTGRES}/${DB}
      - SPRING_DATASOURCE_USERNAME=${DB_USER}
      - SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD}
    depends_on:
      - db

  db:
    image: postgres:latest
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB}